In [1]:
import sqlite3
import pandas as pd

csv_file = '東京23区路線一覧_JRメトロ.csv'  # CSVファイルのパス
df = pd.read_csv(csv_file)

# SQLiteデータベース接続
conn = sqlite3.connect('STEP3チーム課題_TA_IndéMode_DB.db')

# カーソルを作成
cursor = conn.cursor()

# データフレームをSQLiteデータベースに挿入
table_name = '東京23区路線一覧_JRメトロ' 
df.to_sql(table_name, conn, if_exists='replace', index=False)

# データベース接続を閉じるS
conn.close()

In [2]:
# SQLiteデータベース接続
conn = sqlite3.connect('STEP3チーム課題_TA_IndéMode_DB.db')

# SQLクエリを実行してデータフレームに読み込む
query = 'SELECT * FROM "サロン開業実績from美容室開業.com";'  
df = pd.read_sql_query(query, conn)

# データベース接続を閉じる
conn.close()

# 重複データ処理
df.drop_duplicates(inplace=True)
df.reset_index(drop=True,inplace=True)
display(df)

# SQLでDBにデータ保存
# SQLiteデータベースへの接続
db_path = "STEP3チーム課題_TA_IndéMode_DB.db"
conn = sqlite3.connect(db_path) 

# データフレームをSQLiteデータベースに書き込む
table_name = 'サロン開業実績from美容室開業.com'  # テーブル名を適切なものに変更してください
df.to_sql(table_name, conn, if_exists='replace', index=False)

print(db_path + ' への書き込みが完了しました')

         No  坪数  セット面数  シャンプー台
0      2008  20      8       3
1      2010  22      8       3
2      2011   7      3       0
3      2012  15      6       3
4      3004  14      4       2
..      ...  ..    ...     ...
175  22011B  12      2       2
176  22012A  13      4       2
177  22012B   9      1       1
178  23006A  17      5       3
179  23006B   6      2       1

[180 rows x 4 columns]

STEP3チーム課題_TA_IndéMode_DB.db への書き込みが完了しました

In [3]:
# csv保存
df.to_csv('サロン開業実績from美容室開業.com.csv', index=False)